
<table>
  <tr>
    <td><%= link_to 'Edit client', edit_client_path(@client) %></td>
    <td></td>
  </tr>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @client.name %></td>
  </tr>
  <tr>
    <td><strong>Buyer:</strong></td>
    <td><%= @client.buyer %></td>
  </tr>
  <tr>
    <td><strong>Address:</strong></td>
    <td><%= simple_format(@client.address) %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong></td>
    <td><%= @client.phone %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @client.email %></td>
  </tr>
  <tr>
    <td><strong>Comments:</strong></td>
    <td><%= simple_format(@client.comments) %></td>
</table>

