<h1>Listing orders</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Client</th>
    <th>Currency</th>
    <td></td>
    <td></td>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.number, order %></td>
    <td><%= order.client.name %></td>
    <td><%= order.currency %></td>
    <td><%= link_to 'edit', edit_order_path(order) %></td>
    <td><%= link_to 'delete', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
