<p id="notice"><%= notice %></p>

<p>
  <b>Style:</b>
  <%= @item.style %>
</p>

<p>
  <b>Construction:</b>
  <%= @item.construction %>
</p>

<p>
  <b>Material:</b>
  <%= @item.material %>
</p>

<p>
  <b>Cases:</b>
  <%= @item.cases %>
</p>

<p>
  <b>Size36:</b>
  <%= @item.size36 %>
</p>

<p>
  <b>Size37:</b>
  <%= @item.size37 %>
</p>

<p>
  <b>Size38:</b>
  <%= @item.size38 %>
</p>

<p>
  <b>Size39:</b>
  <%= @item.size39 %>
</p>

<p>
  <b>Size40:</b>
  <%= @item.size40 %>
</p>

<p>
  <b>Size41:</b>
  <%= @item.size41 %>
</p>

<p>
  <b>Pairs:</b>
  <%= @item.pairs %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
