<header>

</header>
<nav>
  <ul>

	<li><%= link_to "Clients", clients_path %>
      <ul>
	    <li><%= link_to "List Clients", clients_path %></li>
	    <li><%= link_to "New Client", new_client_path %></li>
      </ul></li>

	<li><%= link_to "Orders", orders_path %>
      <ul>
	    <li><%= link_to "List Orders", orders_path %></li>
	    <li><%= link_to "New Order", new_order_path %></li>
      </ul></li>

  </ul>
</nav>
